<!-- views/admin/order-management.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Management</title>
    <link rel="stylesheet" href="/css/admin-overview.css"> <!-- Link to external CSS -->
</head>
<body>
    <%- include('layout/sidebar') %>

    <div class="content">
        <header>
            <h1>Order Management</h1>
        </header>
        <section>
            <table class="order-table">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Order ID</th>
                        <th>User</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Total Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach((order,index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= order._id %></td>
                            <td><%= order.userId %></td>
                            <td><%= new Date(order.orderDate).toLocaleDateString() %></td> <!-- Format date -->
                            <td><%= order.status %></td>
                            <td>$<%= order.totalAmount %></td>
                            <td>
                              <a href="/admin/orders/<%= order._id %>"><button>View Orders</button></a>
                              
                          </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
    </div>

   
    <%- include('layout/logout') %>
</body>
</html>
