
<!doctype html>
<html lang="en">
<head>
  <%- include('layout/head') %>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <%- include('layout/navbar') %>
  
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <img src="/uploads/<%= product.image %>" class="img-fluid" alt="<%= product.name %>">
      </div>
      <div class="col-md-6">
        <h1><%= product.name %></h1>
        <p><%= product.description %></p>
        <h3>$<%= product.price %>.00</h3>
        <% if (product.stock > 0) { %>
        <button class="cart-button" data-id="<%= product._id %>" onclick="addToCart()">Add to Cart</button>
        <% } else { %>
          <button class="cart-button">Out of Stock</button>
        <% } %>

      
      </div>


    </div>
  </div>
  
  <footer class="footer-section">
    <%- include('layout/footer') %>
  </footer>
  <!-- End Footer Section -->	


  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/tiny-slider.js"></script>
  <script src="/js/custom.js"></script>
  <script>
    document.querySelectorAll('.cart-button').forEach(button => {
        button.addEventListener('click', async (event) => {
            const productId = event.target.getAttribute('data-id');
            const response = await fetch('/cart/add-to-cart', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ productId })
            });
            const data = await response.json();
            if (response.ok) {
        // Show SweetAlert success message
        Swal.fire({
          icon: 'success',
          title: 'Added to Cart',
          text: data.message,
          showConfirmButton: false,
          timer: 1500
        });
      } else {
        // Show SweetAlert error message if adding to cart failed
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: data.message || 'Failed to add item to cart.'
        });
      }
        });
    });
</script>
<script>
  // Initialize cart count
  let cartCount = 0;

  function addToCart() {
    cartCount++;
    document.getElementById("cartCount").innerText = cartCount;
  }
</script>
</body>
</html>
